body{
margin:0;
font-family:Arial;
background:#020b1c;
color:white;
}

header{
background:#07142c;
padding:15px;
font-size:20px;
font-weight:bold;
}

.container{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:220px;
background:#07142c;
padding:20px;
}

.sidebar a{
display:block;
color:#ccc;
text-decoration:none;
margin:12px 0;
}

.sidebar a:hover{
color:#00eaff;
}

.sidebar a.active-menu{
color:#00eaff;
font-weight:bold;
}

/* MAIN */

.main{
flex:1;
padding:25px;
}

/* CARD DASHBOARD */

.card{
background:#0d1b35;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.4);
text-align:center;
}


.card{
background:#0d1b35;
padding:20px;
border-radius:10px;
box-shadow:0 0 8px rgba(0,0,0,0.5);
}

.card h3{
margin:0;
color:#9db3ff;
}

.card p{
font-size:32px;
margin-top:10px;
font-weight:bold;
}

/* TABLE */

table{
width:100%;
border-collapse:collapse;
background:#0d1b35;
border-radius:10px;
overflow:hidden;
}

th{
background:#13264d;
}

th,td{
padding:12px;
text-align:center;
}

tr:nth-child(even){
background:#091630;
}

.active{
color:#00ff88;
font-weight:bold;
}

.putus{
color:#ff4b4b;
font-weight:bold;
}
